nav.bg-light {
  background-color: black !important;
}
nav.bg-light a.navbar-brand {
  color: rgba(230, 230, 230, 0.856);
}
nav.bg-light a.navbar-brand .header__logo {
  height: 35%;
  width: 35%;
  margin-left: 0px;
  padding-left: 0px;
}
nav.bg-light button.navbar-toggler {
  background-color: #8a1d1db8 !important;
}
nav.bg-light .nav-link {
  color: red !important;
}

@media screen and (min-width: 320px) {
  * {
    margin: 0px;
    padding: 0px;
  }

  header {
    position: sticky;
    top: 0px;
  }
  header nav.bg-light {
    background-color: black !important;
  }
  header nav.bg-light a.navbar-brand {
    color: rgba(230, 230, 230, 0.856);
    width: 40vw;
  }
  header nav.bg-light a.navbar-brand .header__logo {
    height: 25%;
    width: 25%;
    margin-left: 0px;
    padding-left: 0px;
  }
  header nav.bg-light button.navbar-toggler {
    background-color: #8a1d1db8 !important;
  }
  header nav.bg-light a.nav-link.header__rojo--1 {
    color: #e28d8d !important;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  header nav.bg-light a.nav-link.header__rojo--2 {
    color: #df5d5d !important;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  header nav.bg-light a.nav-link.header__rojo--3 {
    color: #e03d3d !important;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
main div a.btn {
  position: sticky !important;
}
main section {
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 25px;
}
main section h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #e92626;
}
main section p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}
main div h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
main div h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  padding-top: 5px;
}

footer.container {
  background-color: black;
  height: 23vh;
}
footer.container div div.col-xs-12 {
  padding-top: 10px;
  text-align: end;
}
footer.container div div.col-xs-12 a.footer__rojo--1 {
  color: #e28d8d;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer.container div div.col-xs-12 a.footer__rojo--2 {
  color: #df5d5d;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer.container div div.col-xs-12 a.footer__rojo--3 {
  color: #e03d3d;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer.container div div.col-xs-12 a.footer__rojo--4 {
  color: red;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer.container div div.col-xs-12 a:hover {
  color: rgba(230, 230, 230, 0.856);
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (min-width: 1024px) {
  * {
    margin: 0px;
    padding: 0px;
  }

  header {
    position: sticky;
    top: 0px;
  }
  header nav.bg-light {
    background-color: black !important;
  }
  header nav.bg-light a.navbar-brand {
    color: rgba(230, 230, 230, 0.856);
    font-size: 0.25rem !important;
    color: black !important;
    width: 15vw;
    height: 8vh;
  }
  header nav.bg-light a.navbar-brand .header__logo {
    height: 7vh;
    width: auto;
    margin-left: 0px;
    padding-left: 0px;
  }
  header nav.bg-light button.navbar-toggler {
    background-color: #8a1d1db8 !important;
  }
  header nav.bg-light div {
    justify-content: flex-end;
  }
  header nav.bg-light div a.nav-link.header__rojo--1 {
    color: #e28d8d !important;
    text-align: center;
  }
  header nav.bg-light div a.nav-link.header__rojo--2 {
    color: #df5d5d !important;
    text-align: center;
  }
  header nav.bg-light div a.nav-link.header__rojo--3 {
    color: #e03d3d !important;
    text-align: center;
  }
  header nav.bg-light div a.nav-link:hover {
    color: rgba(230, 230, 230, 0.856) !important;
  }

  body {
    background-color: grey;
  }
  body div#indicadorCarga {
    height: 60vh;
  }

  header {
    z-index: 3;
  }
  header a.nav-link {
    text-align: center;
  }

  div.dropdown {
    z-index: 2;
  }

  div.card {
    z-index: 1;
  }

  div#conocenos {
    font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  div#conocenos p {
    padding-top: 20px;
  }

  footer.container {
    background-color: black;
    height: 10vh;
    max-width: 100vw !important;
  }
  footer.container div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  footer.container div div.col-xs-12 a.footer__rojo--1 {
    color: #e28d8d;
    text-decoration: none;
    padding-top: 15px;
  }
  footer.container div div.col-xs-12 a.footer__rojo--2 {
    color: #df5d5d;
    text-decoration: none;
    padding-top: 15px;
  }
  footer.container div div.col-xs-12 a.footer__rojo--3 {
    color: #e03d3d;
    text-decoration: none;
    padding-top: 15px;
  }
  footer.container div div.col-xs-12 a.footer__rojo--4 {
    color: red;
    text-decoration: none;
    padding-top: 15px;
  }
  footer.container div div.col-xs-12 a:hover {
    color: rgba(230, 230, 230, 0.856);
    text-decoration: none;
    padding-top: 15px;
  }
}/*# sourceMappingURL=index.css.map */